<!-- Carousel Start -->

<div class="container-fluid p-0">

    <div id="header-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              {% for rs in sliderdata %}
            <div>
                <img class="w-100" src="{{ asset('uploads/images/'~ rs.image) }}" alt="" width="1920" height="900">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3"><font size="40">{{ rs.price }}00$</font></h4>
                        <h1 class="display-3 text-white mb-md-4">{{ rs.title }}</h1>
                        <a href="{{ path('app_product',{'id': rs.id}) }}" class="btn btn-primary py-md-3 px-md-5 mt-2">Detail Now</a>
                        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-prev-icon mb-n2"></span>
                            </div>
                        </a>
                        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                                <span class="carousel-control-next-icon mb-n2"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
<!-- Carousel End ->
{%  endfor %}-