
    <div class="col-lg-12">
        <div class="contact-form bg-white" style="padding: 40px;">
            <div id="success"></div>
            <div class="col-lg-3 col-md-10 mb-auto">
                <div class="d-flex flex-column justify-content-start">
                    <ul>
                        <li><a class="text-black-50-50 mb-2" href="{{ path('app_user_index') }}">Profil Bilgileri</a></li>
                        <li><a class="text-black-50-50 mb-2" href="#">Rezervasyonlarım</a></li>
                        <li><a class="text-black-50-50 mb-2" href="#">Yorumlarım</a></li>
                        <li><a class="text-black-50-50 mb-2" href="#">Favorilerim</a></li>
                        <li><a class="text-black-50-50 mb-2" href="{{ path('app_logout') }}">Logout</a></li>



                    </ul>
                </div>
            </div>

        </div>
    </div>
